
body{
background:transparent;
}

#price {
width:100.5%;
height:35vh;
border:0;
border-radius:30px;
}


.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
a {
    color: #000000;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 2px;
}
